@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: #0B2434;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #F5F5F5;
  min-width: 500px;
  min-height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main--rolls {
  padding: 10px;
}

.main--stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin: 40px 0;
}

.die > span {
  width: 7px;
  height: 7px;
  border: 1px solid black;
  margin: 7px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
}

.die-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.die-2--second {
  right: 0;
  bottom: 0;
}

.die-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.die-3--first {
  top: 0;
  left: 0;
}

.die-3--second {
  right: 0;
  bottom: 0
}

.die-4--first {
  top: 0;
  right: 0;
}

.die-4--second {
  bottom: 0;
  right: 0;
}

.die-4--third {
  bottom: 0;
  left: 0;
}

.die-4--fourth {
  top: 0;
  left: 0;
}

.die-5--first {
  top: 0;
  right: 0;
}

.die-5--second {
  bottom: 0;
  right: 0;
}

.die-5--third {
  bottom: 0;
  left: 0;
}

.die-5--fourth {
  top: 0;
  left: 0;
}

.die-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.die-6-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.die-6 {
  border-radius: 3px;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: rgb(89, 227, 145);
  box-shadow: 0 2px 2px #00000026;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.die-6-container > span {
  width: 7px;
  height: 7px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #000;
  margin: 3px 2px;
}

.die:active {
  transform: scale(0.98);
}

.roll-btn {
  background-color:#5035FF;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  height: 50px;
  width: 130px;
  cursor: pointer;
}

.roll-btn:active {
  transform: scale(0.98);
}

.main--title {
  font-weight: 700;
  color: #2B283A;
  font-size: 25px;
  line-height: 30px;
}

.main--instructions {
  max-width: 330px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.totalTime {
  margin-bottom: 100px;
}

.totalRolls, .totalTime {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 500px) {
  main {
    min-width: 360px;
    min-height: 360px;
  }
}